main {
  font-family: sans-serif;
}
@media (min-width: 700px) {
  main {
    margin: 3rem 1.5rem;
  }
  input {
    width: 18rem;
  }
  #technologies {
    gap: 1.5rem;
  }
}
@media (min-width: 900px) {
  main {
    margin: 5rem 6rem;
  }
}
@media (min-width: 1150px) {
  main {
    margin: 6rem 13rem;
  }

  input {
    width: 22rem;
  }
  #technologies {
    gap: 3rem;
  }
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 2.85rem;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.5rem 0rem;
}
input[type="text"]:focus {
  border: 1px solid rgb(223, 55, 55);
  background-color: white;
  outline: none;
}
input {
  height: 2.5rem;
  border-radius: 0.5rem;
  font-size: larger;
  text-indent: 3%;
}

#btn2 {
  border-style: none;
  background-color: rgb(255, 255, 255);
  text-decoration: underline;
  color: rgb(223, 55, 55);
  font-size: medium;
}
#btn {
  margin-left: 2rem;
  height: 2.75rem;
  border-radius: 0.5rem;
  width: 5.5rem;
  background-color: rgb(255, 232, 232);
  border-color: rgb(223, 55, 55);
  color: rgb(223, 55, 55);
  font-weight: bold;
  font-size: medium;
}
#btn:hover {
  background-color: rgb(223, 55, 55);
  color: white;
}
button:hover {
  cursor: pointer;
}

#technologies {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.technologyItem {
  text-align: center;

  box-shadow: 0px 3px 5px 2px rgb(188, 188, 188);
  border-radius: 0.75rem;
  font-weight: bold;
  font-size: larger;
}
